/* This is your CSS file. You will use this file to style your HTML pages */

body {
    background-color: peachpuff;
    background-size: 100%;}

h1{
    color:brown;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
